.PPR_single_campaign_product {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.PPR_single_campaign_product:last-child::after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 0;
}

.PPR_single_campaign_product::after {
    content: "";
    width: 100%;
    height: 5px;
    border-bottom: 1px solid lightgray;
}

.PPR_single_campaign_product_image {
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

.PPR_single_campaign_product_title_quantity {
    width: 100%;
    margin-right: 10px;
}

.PPR_single_campaign_product_title_quantity h4 {
    margin-bottom: 0;
    font-size: 17px;
}

.PPR_single_campaign_product_title_quantity span {
    font-size: 12px;
    color: gray;
    display: block;
}

.PPR_single_campaign_product_price span {
    display: block;
    text-align: center;
}

.PPR_single_campaign_product_price span:last-child {
    color: #bb2006;
    font-size: 20px;
}

.PPR_single_campaign_product_price span:nth-child(1) {
    color: rgb(102, 102, 102);
    text-decoration: line-through;
    font-size: 14px;
}