.CP_header {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.CP_header a {
    width: 21%;
    margin: 0 2%;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #e4e4e4;
}

.CP_header a img {
    width: 100%;
}

.CP_details {
    
}

.CP_detail {
    margin-top: 40px;
    background: #eaf1ff;
    padding: 15px;
    border-radius: 10px;
}

.CP_detail_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CP_detail_head img {
    width: 40%;
    margin-right: 3%;
    border-radius: 7px;
}

.CP_detail_head_details h4 {
    font-size: 22px;
    text-decoration: underline;
}

.CP_detail_head_details span {
    font-size: 15px;
    padding: 3px 0;
    display: block;
    color: #505050;
}

.CP_detail_products {
    display: flex;
    flex-wrap: wrap;
}

.CP_detail_product {
    width: 18.4%;
    margin: 0 .8%;
    margin-top: 25px;
    background-color: white;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campaign_go_top {
    display: none;
}

.CP_detail_product img {
    width: 100%;
}

.CP_detail_head_details {
    width: 57%;
}

.CP_detail_product h5 {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}

.CP_detail_product p {
    margin-bottom: 0;
}

.CP_buy_now_btn {
    background-image: linear-gradient(45deg, #FF4B2B, #FF416C);
    color: white;
    padding: 7px 20px;
    display: block;
    font-size: 15px;
    width: 100%;
}

.CP_buy_now_btn:hover {
    color: white;
}

.CP_main_price {
    font-size: 13px;
    text-decoration: line-through;
    margin-right: 8px;
    color: #dc3545;
}

.CP_price {
    font-size: 16px;
    color: #28a745;
}

.CP_full_price {
    padding: 7px 0;
}

.campaign_go_top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 40px;
    cursor: pointer;
    color: rgb(26, 26, 26);
    background: white;
    border-radius: 50%;
}

#CP_shipment {
    max-width: 100%;
    display: block;
    padding: 20px 40px;
    background: #f2f2f2;
    height: auto;
    padding-bottom: 5px;
}

#CP_shipment_h1 {
    margin-bottom: 15px;
    margin-top: 5px;
}

#CP_shipment_field {
    margin: 8px 0;
}

#CP_sub_address {
    margin-top: 5px;
}

.CP_shipment_product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    margin-top: 15px;
}

.CP_shipment_product img {
    width: 65px;
    border: 1px solid #e4e4e4;
}

.CP_shipment_product h4 {
    font-size: 14px;
}

.CP_P_name_quantity {
    margin-left: 10px;
}

.CP_shipment_price {
    margin-bottom: 0;
    width: 60px;
    margin-left: 10px;
    text-align: right;
}

.CP_payment_btn button {
    background-image: linear-gradient(45deg, #FF4B2B, #FF416C);
    color: white;
    font-size: 14px;
    border: none;
    padding: 9px 15px;
    width: 100%;
    text-align: center;
    border-radius: 3px;
    margin-top: 10px;
}

.CP_close_modal {
    position: absolute;
    right: 20px;
    top: 18px;
    font-size: 25px;
    cursor: pointer;
}

.CP_quantity {
    font-size: 13px;
    display: flex;
    align-items: center;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.CP_P_quantity_btn {
    cursor: pointer;
    margin: 0 5px;
}

.CP_payment_pName {
    margin-bottom: 3px;
}

.CP_shipment_price_total {
    background: white;
    padding: 10px;
    padding-top: 0;
    border-radius: 0 0 10px 10px;
}

.CP_shipment_price_total_child {
    display: flex;
    justify-content: space-between;
    color: #555555;
    font-size: 13px;
}