.product_page_top {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.product_page_img {
  width: 40%;
  height: auto;
  max-height: 500px;
}

.product_page_img img {
  width: 100%;
}

.category_left_hidden_in svg {
  color: white;
}

.category_left_hidden_in svg:hover {
  color: white;
}

.product_page_right {
  margin-left: 5%;
  width: 55%;
  display: flex;
  flex-direction: column;
}

.product_page_right h2 {
  font-size: 23px;
}

.product_page_brand {
  font-size: 14px;
  margin: 15px 0;
  margin-bottom: 20px;
}

.product_page_brand a {
  text-decoration: none;
}

.product_page_brand a:hover {
  text-decoration: underline;
}

.product_page_discount span {
  line-height: 1;
}

.product_page_discount span:nth-child(2) {
  text-decoration: line-through;
  font-size: 12px;
  color: gray;
}

.product_page_discount span:last-child {
  margin-left: 10px;
  font-size: 12px;
}

.product_page_price {
  font-size: 22px;
  font-weight: 500;
  color: #D4873E;
  display: block;
}

.product_page_quantity {
  display: flex;
  margin-top: 30px;
  font-size: 14px;
  align-items: center;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.product_page_quantity p {
  margin-bottom: 0;
}

.product_page_quantity svg {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
  font-size: 12px;
}

.product_page_quantity p:first-child {
  margin-right: 25px;
}

.product_page_quantity p:last-child {
  margin-left: 25px;
}

.add_cart_btn {
  width: 160px;
  padding: 8px 15px;
  background: linear-gradient(45deg, #FF4B2B, #FF416C);
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  text-transform: uppercase;
  margin-right: 15px;
}

.single_product_detail {
  display: flex;
  flex-direction: column;
  max-width: 70%
}

.single_product_detail span {
  width: 200px;
  padding: 10px 20px;
  background: #DD0122;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.single_product_detail ul {
  margin-top: 25px;
  margin-bottom: 0;
}

.single_product_detail ul li {
  margin: 8px 0;
  
}

.cart_cart-product {
  border: 2px solid red;
  border-radius:15px;
  width: 100%;
  
}



.cart_cart-product {
  padding: 10px;
  width: 400px;
}

.cart_page_btn_product {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart_page_btn_product:hover {
  color: white;
}