body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.loader {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  text-align: center;
  margin: auto;
}